.serviceCards{
    text-align: justify;
    margin: 20px;
    width: 260px;
    padding: 20px;
}
.serviceCards:hover{
    text-align: justify;
    margin: 20px;
    width: 260px;
    padding: 20px;
    box-shadow: 5px 5px 20px lightgrey;
}
.serviceImage{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 60px;
    transition: width 2s, height 2s;
}
.serviceImage:hover{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin-left: 30px;
}

.ServicesButton{
    border: none;
    width: 160px;
    height: 40px;
    color:white;
    font-size: large;
    background-image: linear-gradient(to right, #00ffc8, #00ffea);
}