.cardContainer{

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.CardImage{
    background-image: url("../../../images/image3.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}
.orderCard{
    color: #00ffdd;
}
.Button{
    width: 140px;
    height: 40px;
    border:none;
    color: white;
    font-size: large;
    background-image: linear-gradient(to right, #22ffc8 , #5dffdc);
}
.Image{

    width: 500px;
    height: auto;
    box-shadow: 5px 5px 20px #585757;

}