.provideService{
    margin-top: 100px;
    text-align: center;
    color:#08d4a8
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

@media only screen and (max-width: 600px) {
    .provideService{
        margin-top: 100px;
        text-align: center;
        color:#08d4a8
    }
    .productContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;
        margin-left: 80px
    }
}